
*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

:root{
    --blue: #00897b;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
}

body{
    min-height: 100vh;
    overflow-x: hidden;

}

.container_b{
    position: relative;
    width: 100%;
    border: 1px solid black;
}

.navigation_b{
    position:fixed;
    width: 260px;
    height: 100%;
    background-color: #00897b;
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
    
}

.navigation_b.active{
    width: 80px;
}

.navigation_b ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 0px;
    
}

.navigation_b ul li{
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    color: var(--white);

}

.navigation_b ul li:hover,
.navigation_b ul li.hovered

{
    background: var(--white);
    color: var(--blue);
}

.navigation_b ul li:nth-child(1){
    margin-bottom: 40px;
    pointer-events: none;
    color: var(--white);
}

.navigation_b ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);

}

.navigation_b ul li:hover a,
.navigation_b ul li.hovered a{
    color: var(--blue);
}

.navigation_b ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.navigation_b ul li a .icon ion-icon{
    font-size: 1.75em;
}



.navigation_b ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    white-space: nowrap;
}

 /* Curve Outside  */

 .navigation_b ul li:hover a::before,
 .navigation_b ul li.hovered a::before{
     content: '';
     position: absolute;
     right: 0;
     top: -50px;
     width: 50px;
     height: 50px;
     /* background: #f00; */
     border-radius: 50%;
     box-shadow: 35px 35px 0 10px var(--white);
 }

 .navigation_b ul li:hover a::after,
 .navigation_b ul li.hovered a::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    /* background: #f00; */
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
}

/* main  */

.main{
    position: absolute;
    width: calc(100% - 260px);
    left: 260px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}

.main.active{
    width: calc(100% - 80px);
    left: 80px;
}

.topbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.toggle{
    position: relative;
    top: 0;
    width: 60px;
    height: 60px;
    /* background: #ccc; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;

}

.search{
    position: relative;
    width: 400px;
    margin: 0 10px;
}

.search label {
    position: relative;
    width: 100%;
}

.search label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    outline: none;
    padding: 5px 20px;
    border: 1px solid var(--black2);
    padding-left: 35px;
    font-size: 18px;
}

.search label ion-icon {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2em;
    margin-top: 10px;
}

.user {
    position: relative;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.user img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card_bBox{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
}

.card_bBox .card_b{
    position: relative;
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}

.card_bBox .card_b .numbers {
    position: relative;
    font-weight: 500;
    font-size: 2.2em;
    color: var(--blue);
    
}

.card_bBox .card_b .card_bName{
    color: var(--black2);
    font-size: 1.1em;
    margin-top: 5px;
}

.card_bBox .card_b .iconBox{
    font-size: 3.5em;
    color: var(--black2);
}

.card_bBox .card_b:hover{
    background: var(--blue);
    
}

.card_bBox .card_b:hover .numbers,
.card_bBox .card_b:hover .card_bName,
.card_bBox .card_b:hover .iconBox {
    color: var(--white);
}


.details {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    /* grid-template-columns: repeat(1,1fr); */
    /* margin-top: 10px; */
}

.details .recentOrders {
    position: relative;
    display: grid;
    min-height: 500px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
    overflow-x: auto;
}

.details_dashboard {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr;
    grid-gap: 30px;
    /* margin-top: 10px; */
}

.details_dashboard .componentsBox {
    position: relative;
    display: grid;
    min-height: 500px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
}

.details_dashboard_apply {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr;
    grid-gap: 30px;
    /* margin-top: 10px; */
}

.details_dashboard_apply .componentsBox {
    position: relative;
    display: grid;
    min-height: 200px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 10px;
}

.details_dashboard_apply .componentsBox .table__data .input-group-text{
    color: var(--white);
    background-color: #00C851;
    width: 60%;
    justify-content: center;
    border-radius: 5px;
}

.modal_btn ion-icon{
    padding: 0;
    /* margin: 0; */
    position: inherit;
    margin-bottom: -5px;
    margin-left: 2px;
    /* font-weight: 800; */
    color: var(--white);
    font-size: 1.3em;
}

.card_bHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.card_bHeader h2 {
    font-weight: 600;
    color: var(--blue);
}

.card_bHeaderh {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

#btn__viewAll{
    background-color: var(--blue);
    color: var(--white);
}

.card_bHeaderh h2 {
    font-weight: 600;
    color: var(--blue);
}

#input-group-Htable-paid{
    background-color: #8de02c;
color: white;
justify-content: center;
}

#input-group-Htable-pending{
    background-color: #f9ca3f;
color: white;
justify-content: center;
}

#input-group-Htable-return{
    background-color: #f00;
color: white;
justify-content: center;
}

#input-group-Htable-inprogress{
    background-color: #1795ce;
color: white;
justify-content: center;
cursor: pointer;
}


.btn{
    position: relative;
    padding: 5px 10px;
    background: var(--blue);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;

}

.details .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;

}

.details table thead td {
    font-weight: 600;
}

.details .recentOrders table tr
{
    color: var(--black1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    /* border: 1px solid black; */
}

.details .recentOrders table tr:last-child {
    border-bottom: none;
}

.details .recentOrders table tbody tr:hover {
    background: var(--blue);
    color: var(--white);
} 

.details .recentOrders table tr td {
    padding: 10px;
}

.details .recentOrders table tr td:last-child{
    text-align: end;
}


.status.delivered {
    padding: 2px 4px;
    background: #8de02c;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.status.pending {
    padding: 2px 4px;
    background: #f9ca3f;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.status.return {
    padding: 2px 4px;
    background: #f00;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.status.inprogress {
    padding: 2px 4px;
    background: #1795ce;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.recentCustomers {
    position: relative;
    display: grid;
    min-height: 500px;
    /* background: var(gray); */
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
}

.recentCustomers .card_bHeader h2 {
    font-weight: 600;
    color: var(--blue);
    position: relative;
    padding-top: 20px;
    left: 12px;
}

.recentCustomers .imgBox {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.recentCustomers .imgBox img {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recentCustomers table tr:hover {
    background: var(--blue);
    color: var(--white);
}

.recentCustomers table tr td {
    padding: 12px 10px;
}

.recentCustomers table tr td h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2em;
}

.recentCustomers table tr td h4 span {
    font-size: 14;
    color: var(--black2);

}

.recentCustomers table tr:hover {
    background: var(--blue);
    color: var(--white);
}

.recentCustomers table tr:hover td h4 span {
    color: var(--white);
}

/* CRUD Table  */


.crud__data table tbody tr:hover{
    background: var(--blue);
    color: var(--white);
    /* font-weight: 600; */
    
}

.crud__data table tr:hover a{
    background: var(--blue);
    color: var(--white);
}

.crud__data table tr:hover a ion-icon{
    background: var(--white);
    color: var(--blue);
    border-radius: 19px;
}

.crud__data table tr:hover span ion-icon{
    background: var(--white);
    /* color: var(--blue); */
    border-radius: 19px;
}




.crud__data td {
    padding: 12px 0px 0px 0px;
}

.crud__data ion-icon{
    /* color: var(--black1); */
    font-size: 1.3em;
    padding: 5px 5px;
    font-weight: bold;
    color: var(--blue);
    
}

.crud__data a  ion-icon{
    /* color: var(--black1); */
    font-size: 1.3em;
    padding: 5px 5px;
    font-weight: bold;
    text-decoration: none;
    
    
}

.crud__data a:hover ion-icon {
    background-color: var(--white);
    border-radius: 19px;
    padding: 5px 5px;
    color: var(--blue);
}

.crud__data span ion-icon {
    font-size: 1.3em;
    padding: 5px 5px;
    font-weight: bold;
    color: red;
}



.crud__data span a ion-icon {
    /* text-decoration: none; */
    color: #00897b;
    text-decoration: line-through;
}

.crud__data span ion-icon:hover {
    cursor: pointer;
    font-size: 1.3em;
    padding: 5px 5px;
    font-weight: bold;
    background-color: white;
    color: var(--blue);
    border-radius: 19px;
}

.register__icon {
    margin: 0 auto;
    text-align: center;
}

.register__icon ion-icon{
    font-size: 19.3em;
    color: var(--blue);
}

.update__container{
    margin: 0 auto;
    text-align: center;
}

.update__icon {
  
    display: inline-flex;
    justify-content:center;
    /* margin: 0 auto; */
    /* text-align: center; */
    /* align-content: flex-start; */
    /* width: 400px; */
    /* margin: 0 auto; */
    /* margin-left: 330px; */
    /* border: 1px solid black; */
}

.update__icon ion-icon{
    font-size: 3.3em;
    color: var(--blue);
}

.register__data{
    text-align: center;
}

.register__data h1 {
    color: var(--blue);
    font-weight: 600;
}

.update__data{
    text-align: center;
}

.update__icon h1 {
    color: var(--blue);
    font-weight: 600;
}

.register__form{
    width: 600px;
    margin: 0 auto;
}
.register__form input{
    margin: 16px 0px;
}

.register__form button{
    width: 600px;
    margin: 0 auto; 
}


/* Table General   */

.table__data table{
    margin: 4em 0em;
}
.table__data table tbody tr:hover{
    background: var(--blue);
    color: var(--white);
    /* font-weight: 600; */
    
}

.table__data table tr:hover a{
    background: var(--blue);
    color: var(--white);
}

.table__data table span {
    margin-left: 0px;
}

.table__data table Button {
    background-color: var(--blue);
    font-weight: bold;
}

.table__data table span ion-icon {
    font-size: 1.3em;
    padding: 5px 5px;
    font-weight: bold;
    color: red;
}

.table__data table ion-icon:hover {
    cursor: pointer;
    font-size: 1.3em;
    padding: 5px 5px;
    font-weight: bold;
    background-color: white;
    color: var(--blue);
    border-radius: 19px;
}

.table__data table tr:hover a ion-icon{
    background: var(--white);
    color: var(--blue);
    border-radius: 19px;
}

.table__data table tr:hover span ion-icon{
    background: var(--white);
    /* color: var(--blue); */
    border-radius: 19px;
}

.table__data table tr:hover Button{
    background: var(--white);
    color: var(--blue);
    font-weight: bold;
    /* border-radius: 19px; */
}

.table__data td {
    padding: 12px 0px 0px 0px;
}

.table__data table tr th {
    font-weight: bold;
}


/* Modal style */

.modal__style .row {
    padding: 12px;
}

/* .modal__style .selectst option:nth-child(1) {
    background-color: var(--blue);
}

.modal__style selectst:hover {
    background-color: #0aa59a;
}

.modal__style selectst:focus {
    background-color: #346864;
} */


.modal__style input {
   border: none;
   border-bottom: 2px solid var(--blue);
   border-radius: 0px;
   
}


/* Profile page Style  */

.table__data__profile .row{
    min-height: 100px;
    
}

.table__data__profile Button {
    background-color: var(--blue);
    font-weight: bold;
}

.table__data__profile Button:hover {
    background-color: #3db166;
    font-weight: bold;
    
}


#login__btn{
    background-color: var(--blue);
}

#login__btn:hover{
    background-color: #14b8a6;
}

.login__details_dashboard {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr;
    grid-gap: 30px;
    background-color: var(--grey);
    /* margin-top: 10px; */
}

#login__componentsBox {
    position: relative;
    display: grid;
    min-height: 500px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;

    width: 687px;
    margin: 0 auto;
    /* padding: 72px 0px; */
    padding-top: 0%;
    padding-bottom: 6%;
    margin-top: 2%;
}



/* Responsive Design */

@media (max-width: 991px)
{
    .navigation_b{
        left: -260px;
    }

    .navigation_b.active {
        width: 260px;
        left: 0;
    }
    .main {
        width: 100%;
        left:0;
    }

    .main.active{
        left:260px;
    }

    .card_bBox {
        grid-template-columns: repeat(2,1fr);
    }



}

    @media (min-width: 481px) and (max-width: 768px) {
        
    

    .details {
        grid-template-columns: repeat(1,1fr);
    }

    .recentOrders {
        overflow-x: auto;
    }

    .status.inprogress
    {
        white-space: nowrap;
    }

    #login__componentsBox {
        max-width: 95%;
    }

    .register__data{
        max-width: 95%;
    }

    .register__form {
        max-width: 100%;
    }

    #login_input{
        max-width: 100%;
        
        margin: 0 auto;
        margin-bottom: 14px;
    }

    #login__btn{
       
        max-width: 100%;
        margin: 0 auto;
        margin-bottom: 14px;
    }

    .register__icon {
        margin: 0 auto;
        text-align: center;
    }
    
    .register__icon ion-icon{
        font-size: 17.3em;
        color: var(--blue);
    }

}



@media (max-width: 480px)
{
    .card_bBox {
        grid-template-columns: repeat(1,1fr);
    }

    .card_bHeader h2 {
        font-size: 20px;
        
    }

    .user {
        min-width: 40px;

    }

    .navigation_b{
        width: 100%;
        left: -100%;
        z-index: 1000;
    }
    
    .navigation_b.active {
        
        width: 100%;
        left: 0;
    }

    .toggle {
        z-index:10001;
    }

    .main.active .toggle {
        position: fixed;
        right: initial;
        color: #fff;

    }

    .details{
         grid-template-columns: repeat(1,1fr);
    }

    .details_dashboard{
        max-width: 100%;
    }

    #login__componentsBox {
        max-width: 67%;
    }

    .register__data{
        max-width: 64%;
    }

    .register__form {
        max-width: 100%;
    }

    #login_input{
        max-width: 100%;
        
        margin: 0 auto;
        margin-bottom: 14px;
    }

    #login__btn{
       
        max-width: 100%;
        margin: 0 auto;
        margin-bottom: 14px;
    }

    .register__icon {
        margin: 0 auto;
        text-align: center;
        margin-left: 16%;
    }
    
    .register__icon ion-icon{
        font-size: 12.3em;
        color: var(--blue);
    }

    .table__data{
        overflow-x: auto;
    }

    .modal__style .row {
        margin-bottom: 14px;
    }

    #modal__col{
        margin-bottom: 14px;
    }

    .modal-title{
        margin: 0 auto;
    }

}